@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary: #1d9219;
    --secondary-color: #135820;
    --color-background: #bff7c3;
    --color-surface: #a9f0ae;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris-claro : #ccc;
    --color-gris-oscuro: #333333;

}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
h1{
    font-size: 64px;
    font-weight: 200;
    letter-spacing: -3px;
    color: #1d9219;
    text-align: center;
    margin-top: 20px;
}
h2{
    font-size: 36px;
    font-weight: 200;
    color: #ede6e6;
    text-align: center;

}
#categorias{
    background-color: #AAD63E;
    color: var(--color-blanco);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 98%;
    max-width: 400px;

}
.container{
    max-width: 320px;
    margin: 0 auto; 
}

#categorias ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#categorias li {
    margin: 10px 0;
}

#categorias a {
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

#categorias a:hover {
    color: var(--color-surface);
}