<!DOCTYPE html>
<html lang="es" data-categoria="deportes">
<head>
    <meta charset="UTF-8">
    <title>Deportes - Falabella</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body data-categoria="deportes">
    <h1>Deportes</h1>
    <div id="productos" class="grid"></div>
    <script src="../js/model.js"></script>
    <script src="../js/viewmodel.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>
